<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.excellent.accreditation.dao.CourseTargetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.excellent.accreditation.model.entity.CourseTarget">
        <id column="id" property="id"/>
        <result column="questionnaire_id" property="questionnaireId"/>
        <result column="title" property="title"/>
        <result column="point_id" property="pointId"/>
        <result column="options" property="options"/>
        <result column="describes" property="describes"/>
        <result column="options_score" property="optionsScore"/>
        <result column="total_score" property="totalScore"/>
        <result column="sequence" property="sequence"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, questionnaire_id, title, point_id, options, describes, options_score, total_score, sequence, create_time, update_time
    </sql>

    <select id="point" resultType="com.excellent.accreditation.model.entity.GraduationPoint">
        SELECT graduation_point.*
        from questionnaire,course_class,course,supporting_course,graduation_point
        WHERE
        questionnaire.course_class_id=course_class.id
        and course_class.course_id = course.id and supporting_course.course_id = course.id
        and supporting_course.graduation_point_id = graduation_point.id
        <if test="questionnaireId != null">
            and questionnaire.id = #{questionnaireId}
        </if>
    </select>
    <update id="partSequenceReduce">
    UPDATE course_target
    SET sequence = sequence - 1
    WHERE
	questionnaire_id = #{questionnaireId}
	AND sequence > #{sequence}
    </update>
    <update id="partSequenceIncrease">
    UPDATE course_target
    SET sequence = sequence + 1
    WHERE
	questionnaire_id = #{questionnaireId}
	AND sequence > #{sequence}
    </update>


</mapper>
