<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.excellent.accreditation.dao.CourseClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.excellent.accreditation.model.entity.CourseClass">
        <id column="id" property="id"/>
        <result column="no" property="no"/>
        <result column="semester_id" property="semesterId"/>
        <result column="course_id" property="courseId"/>
        <result column="teacher_id" property="teacherId"/>
        <result column="start_week" property="startWeek"/>
        <result column="end_week" property="endWeek"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, no, semester_id, course_id, teacher_id, start_week, end_week, status, create_time, update_time
    </sql>

    <select id="pageByQuery" resultType="com.excellent.accreditation.model.vo.CourseClassVo">
        SELECT
        s.`name` AS semester,
        c.`name` AS course,
        t.`name` AS teacher,
        c.`code` AS courseCode,
        t.jno AS jno,
        course_class.id,
        course_class.`no`,
        course_class.semester_id,
        course_class.course_id,
        course_class.teacher_id,
        course_class.start_week,
        course_class.end_week,
        course_class.`status`,
        course_class.create_time,
        course_class.update_time
        FROM
        course_class
        INNER JOIN semester AS s ON course_class.semester_id = s.id
        INNER JOIN course AS c ON course_class.course_id = c.id
        INNER JOIN teacher AS t ON course_class.teacher_id = t.id
        <where>
            <if test="course != null and course != ''">
                and c.`name` like "%" #{course,jdbcType=VARCHAR}"%"
            </if>
            <if test="teacher != null and teacher != ''">
                and t.`name`like "%" #{teacher,jdbcType=VARCHAR}"%"
            </if>
            <if test="semester != null and semester != ''">
                and s.`name` like "%" #{semester,jdbcType=VARCHAR}"%"
            </if>
            <if test="courseId != null">
                and course_id = #{courseId}
            </if>
        </where>
    </select>

    <select id="queryCourseClassById" resultType="com.excellent.accreditation.model.vo.CourseClassVo">
        SELECT
        s.`name` AS semester,
        c.`name` AS course,
        t.`name` AS teacher,
        course_class.id,
        course_class.`no`,
        course_class.semester_id,
        course_class.course_id,
        course_class.teacher_id,
        course_class.start_week,
        course_class.end_week,
        course_class.`status`,
        course_class.create_time,
        course_class.update_time
        FROM
        course_class
        INNER JOIN semester AS s ON course_class.semester_id = s.id
        INNER JOIN course AS c ON course_class.course_id = c.id
        INNER JOIN teacher AS t ON course_class.teacher_id = t.id
        WHERE
        course_class.id = #{id,jdbcType=INTEGER}
    </select>

    <select id="pageSelectByStudentId" resultType="com.excellent.accreditation.model.vo.CourseClassVo">
        SELECT
        s.`name` AS semester,
        c.`name` AS course,
        t.`name` AS teacher,
        course_class.id,
        course_class.`no`,
        course_class.semester_id,
        course_class.course_id,
        course_class.teacher_id,
        course_class.start_week,
        course_class.end_week,
        course_class.`status`,
        course_class.create_time,
        course_class.update_time
        FROM
        course_class
        INNER JOIN semester AS s ON course_class.semester_id = s.id
        INNER JOIN course AS c ON course_class.course_id = c.id
        INNER JOIN teacher AS t ON course_class.teacher_id = t.id
        <where>
            <if test="course != null and course != ''">
                and c.`name` like "%" #{course,jdbcType=VARCHAR}"%"
            </if>
            <if test="teacher != null and teacher != ''">
                and t.`name`like "%" #{teacher,jdbcType=VARCHAR}"%"
            </if>
            <if test="semester != null and semester != ''">
                and s.`name` like "%" #{semester,jdbcType=VARCHAR}"%"
            </if>
            <if test="studentId != null and studentId != ''">
                and course_class.id NOT IN
                (SELECT sc.course_class_id FROM `select_course` sc
                WHERE sc.student_id = #{studentId,jdbcType=INTEGER})
            </if>
        </where>
    </select>
</mapper>
