<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.excellent.accreditation.dao.GraduationDemandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.excellent.accreditation.model.entity.GraduationDemand">
        <id column="id" property="id"/>
        <result column="major_id" property="majorId"/>
        <result column="no" property="no"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, major_id, no, content, create_time, update_time
    </sql>
    <select id="pageByQuery" resultType="com.excellent.accreditation.model.vo.GraduationDemandVo">
        SELECT
        graduation_demand.id,
        graduation_demand.major_id,
        graduation_demand.`no`,
        graduation_demand.content,
        graduation_demand.create_time,
        graduation_demand.update_time,
        major.`name` AS major
        FROM
        graduation_demand
        INNER JOIN major ON graduation_demand.major_id = major.id
        <where>
            <if test="major != null and major != ''">
                and major.`name` like "%" #{major,jdbcType=VARCHAR}"%"
            </if>
            <if test="no != null and no != ''">
                and graduation_demand.`no` like "%" #{no,jdbcType=VARCHAR}"%"
            </if>
        </where>
    </select>
</mapper>
