<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.excellent.accreditation.dao.QuestionnaireMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.excellent.accreditation.model.entity.Questionnaire">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="course_class_id" property="courseClassId"/>
        <result column="total_score" property="totalScore"/>
        <result column="describes" property="describes"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, course_class_id, total_score, describes, create_time, update_time
    </sql>
    <select id="pageByQuery" resultType="com.excellent.accreditation.model.vo.QuestionnaireVo">
        SELECT questionnaire.*,course_class.no,course.name as className
        FROM `questionnaire`,course_class,course
        where
        questionnaire.course_class_id = course_class.id
        and course_class.course_id = course.id
        <if test="name != null" >
            and questionnaire.`name` like "%"#{name,jdbcType=VARCHAR} "%"
        </if>
        <if test="courseClassId != null" >
            and course_class.id =#{courseClassId}
        </if>
        <if test="teacherId != null" >
            and course_class.teacher_id =#{teacherId}
        </if>


    </select>

</mapper>
