<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.excellent.accreditation.dao.SelectCourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.excellent.accreditation.model.entity.SelectCourse">
        <id column="id" property="id"/>
        <result column="course_class_id" property="courseClassId"/>
        <result column="student_id" property="studentId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, course_class_id, student_id, create_time, update_time
    </sql>

    <select id="pageByQuery" resultType="com.excellent.accreditation.model.vo.SelectCourseVo">
        SELECT sc.*,stu.`name` student, t.`name` teacher, c.`name` course, s.`name`
        semester,stu.sno,cc.teacher_id,cc.semester_id,cc.`status`,cc.start_week,cc.end_week
        FROM select_course sc, course_class cc, student stu,teacher t, course c, semester s
        WHERE
        sc.course_class_id = cc.id and cc.course_id = c.id and cc.teacher_id = t.id and sc.student_id = stu.id and
        cc.semester_id = s.id
        <if test="student != null and student != ''">
            -- and stu.`name` like "%"#{student,jdbcType=VARCHAR} "%"
            and stu.`name` = #{student,jdbcType=VARCHAR}
        </if>
        <if test="teacher != null and teacher != ''">
            and t.`name`like "%" #{teacher,jdbcType=VARCHAR}"%"
        </if>
        <if test="semester != null and semester != ''">
            and s.`name` like "%" #{semester,jdbcType=VARCHAR}"%"
        </if>
        <if test="course != null and course != ''">
            and c.`name` like "%" #{course,jdbcType=VARCHAR}"%"
        </if>
    </select>
    <select id="querySelectCourseById" resultType="com.excellent.accreditation.model.vo.SelectCourseVo">
        SELECT  sc.*,stu.`name` student, t.`name` teacher, c.`name` course, s.`name` semester,stu.sno,cc.teacher_id,cc.semester_id,cc.`status`,cc.start_week,cc.end_week
        FROM select_course sc, course_class cc, student stu,teacher t, course c, semester s
        WHERE
        sc.course_class_id = cc.id and cc.course_id = c.id and cc.teacher_id = t.id and sc.student_id = stu.id and cc.semester_id = s.id
            and sc.id  = #{id,jdbcType=INTEGER}
    </select>

</mapper>
