<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.excellent.accreditation.dao.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.excellent.accreditation.model.entity.Teacher">
        <id column="id" property="id"/>
        <result column="jno" property="jno"/>
        <result column="password" property="password"/>
        <result column="role" property="role"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="title" property="title"/>
        <result column="birth" property="birth"/>
        <result column="graduate_school" property="graduateSchool"/>
        <result column="graduate_major" property="graduateMajor"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="login_time" property="loginTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, jno, password, role, name, sex, title, birth, graduate_school, graduate_major, create_time, update_time, login_time
    </sql>

</mapper>
